@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ---------variables ------------ */
:root {
    /* colors */
    /* Primary */
    --color-Tomato: hsl(4, 100%, 67%);
    --color-btn1: rgba(255,84,118,255);
    --color-btn2: rgba(255,98,81,255);
  
    /* Neutral */
    --color-Dark-Slate-Grey: hsl(249, 10%, 26%);
    --color-Charcoal-Grey: hsl(235, 18%, 26%);
    --color-Grey: hsl(231, 7%, 60%);
    --color-White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    display:flex;
    flex-direction: column;
}

.container {
    /* height: 800px; */
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.card-left{
    padding: 15px;
}

.card-left li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    padding-right: 20px;
}

.card-left li img {
    height: 16px;
    margin-right: 5px;
}

.card-right {
    background-image: url("../assets/images/illustration-sign-up-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 250px;
    order: -1;
}


h1 {
    font-size: 2.2rem ;
    margin-top: 15px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1rem;
    font-weight:400;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-label{
  font-size: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
}

input {
    border: none;
}

#email {
  border: solid black 0.5px;
  height: 2.5rem;
  border-radius: 5px;
  padding-left: 20px;
  cursor: pointer;
}

.btn-submit{
    border: none;   
    color: var(--color-White);
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--color-Dark-Slate-Grey);
    cursor: pointer;
}

.btn-submit:hover{
    background-image: linear-gradient(to right, #ff6251, #fe5476);
    box-shadow: 0px 10px 15px 10px #fed2cf;
}


.card-thanks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 360px;
    background-color: var(--color-White);
    padding: 30px;
    border-radius: 20px;
}

.card-thanks h2 {
  font-size: 2rem;
  font-weight: 700;
}

.card-thanks img {
    height: 45px;
    width: 45px;
  }

  .card-thanks button {
    border: none;   
    color: var(--color-White);
    height: 2.5rem;
    width: 100%;
    border-radius: 5px;
  
    background-color: var(--color-Dark-Slate-Grey);
    cursor: pointer;
  }

  .card-thanks button:hover {
    background-image: linear-gradient(to right, #ff6251, #fe5476);
    box-shadow: 0px 10px 15px 10px #fed2cf;
  }

.card-thanks-text-container{
    margin-top: 25px;
}

.attribution {
    font-size: 8px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 8px;
}

.hide-card {
    display: none;
}

























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }